/* .sectionTitle::before{
  content: 'Attenzione! Il server è stato spostato su https://jf.giudimax.top<br/>';
}
 */

#homeTab::before{
  content: "⚠️ Attenzione! Il server è stato spostato su https://jf.giudimax.top";
  font-size: 2em;
  display: block;
  background: green;
  border-radius: 1em;
}
